:root {
  --body-max-width: 1024px;
  --video-max-width: 400px;
}

.note {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.note svg {
  min-width: 20px;
  color: var(--links);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-col input[type="text"],
.form-col input[type="number"],
.form-col select {
  margin-right: 0;
}

.demo-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background);
}

.capture-photo-container {
  min-width: var(--video-max-width);
}

.form-container {
  flex: 1;
  padding: 1rem;
  border-radius: calc(var(--border-radius) / 2);
  background: var(--background-body);
}

.alert {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-alt);
  color: var(--text-main);
}

.alert-danger {
  background-color: #f8d7da;
  color: #58151c;
}

.alert-info {
  background-color: #cff4fc;
  color: #055160;
}

capture-photo:not(:defined) {
  display: none;
}

capture-photo::part(video) {
  width: 100%;
  max-width: var(--video-max-width);
  height: auto;
  background-color: #000000;
  border-radius: calc(var(--border-radius) / 2);
}

capture-photo[loading]::part(video) {
  background-image: url(../assets/icons/spinner.svg);
  background-size: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

capture-photo[loading]::part(capture-button),
capture-photo[loading]::part(facing-mode-button) {
  opacity: 0.7;
  cursor: not-allowed;
}

capture-photo::part(actions-container) {
  margin-top: 1rem;
}

capture-photo::part(output-image) {
  width: 100%;
  max-width: var(--video-max-width);
  height: auto;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .demo-container {
    flex-direction: column;
  }

  .capture-photo-container {
    min-width: 0;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --video-max-width: 200px;
  }
}

/* Utils */
.flex-1 { flex: 1 !important; }
.d-flex { display: flex !important; }
.flex-row { flex-direction: row !important; }
.flex-column { flex-direction: column !important; }
.flex-wrap { flex-wrap: wrap !important; }
.flex-nowrap { flex-wrap: nowrap !important; }
.align-items-center { align-items: center !important; }
.justify-content-center { justify-content: center !important; }
.gap-0 { gap: 0 !important; }
.gap-1 { gap: 0.25rem !important; }
.gap-2 { gap: 0.5rem !important; }
.gap-3 { gap: 1rem !important; }
.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }
