:root {
  --bg-color: #ffffff;
  --text-color: #303942;
  --link-color: #1a73e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202125;
    --text-color: #cccccc;
    --link-color: #8ab4f8;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 1rem;
  line-height: 1.5;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, h2, p {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

#console {
  padding: 1rem;
  background-color: #121212;
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 0.9rem;
  overflow-x: auto;
  max-height: 400px;
}

#console>div:not(:last-child) {
  margin-bottom: 0.5rem;
}

#console .error {
  color: #fd7878;
}

#console .success {
  color: #69d380;
}

#console .info {
  color: #b1d8ff;
}

#console:empty {
  display: none;
}

/* Component custom styling */
capture-photo:not(:defined) {
  display: none;
}

capture-photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

capture-photo::part(video) {
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  background-color: #000000;
  box-sizing: border-box;
}

capture-photo::part(actions-container) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #000000;
}

capture-photo::part(capture-button) {
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border: 5px solid #383838;
  color: #000000;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}

capture-photo::part(facing-mode-button) {
  margin-right: calc(-40px - 2rem);
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 0;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

capture-photo::part(output-container) {
  overflow-x: auto;
  margin-bottom: 1rem;
}

capture-photo::part(output-image) {
  max-width: 100%;
  height: auto;
  border: 5px solid #000;
}

capture-photo[loading]::part(video) {
  background-image: url(assets/icons/spinner.svg);
  background-size: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

capture-photo[loading]::part(capture-button),
capture-photo[loading]::part(facing-mode-button) {
  opacity: 0.7;
  cursor: not-allowed;
}
