:root {
  --bg-color: #ffffff;
  --text-color: #303942;
  --link-color: #1a73e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202125;
    --text-color: #cccccc;
    --link-color: #8ab4f8;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 1rem;
}

h1, h2, p {
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

/* Component custom styling */
capture-photo:not(:defined) {
  display: none;
}

capture-photo {
  overflow: hidden;
}

capture-photo::part(video) {
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  background-color: #000000;
}

capture-photo::part(actions-container) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #000000;
}

capture-photo::part(capture-photo-button) {
  margin-left: calc(40px + 2rem);
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border: 5px solid #383838;
  color: #000000;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}

capture-photo::part(facing-mode-button) {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 0;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

capture-photo::part(capture-photo-button disabled),
capture-photo::part(facing-mode-button disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}

capture-photo::part(output-container) {
  overflow-x: auto;
}

capture-photo::part(output-image) {
  max-width: 100%;
  height: auto;
  border: 5px solid #000;
}
